{% extends 'controller/base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

<div class="hero-unit">
    <h1>PSRC Model Dashboard</h1>
     {% if user.is_authenticated %}
     Hi <strong>{{ logged_name }}!</strong><br />
     {% endif %}

</div>



<div class="span3">
<h2>Soundcast</h2>
<p>Activity-based travel model</p>
<p><a class="btn" href="/controller/soundcast/">Run Soundcast »</a></p>
</div>

<div class="span3">
<h2>4k</h2>
<p>Trip-based travel model
<p><a class="btn" href="http://www.psrc.org/data/models/trip-based-travel-model/">Run 4k »</a></p>
</div>

<div class="span3">
<h2>UrbanSim</h2>
<p>Land-use model</p>
<p><a class="btn" href="http://www.psrc.org/data/models/urbansim/">View details »</a></p>
</div>

{% endblock %}