{% extends 'controller/base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
 <h1>About</h1>
The model controller is PSRC's one-stop model-running shop. From this webpage you can request, run, and evaluate model runs. This webpage manages all requests and then processes model runs. Users will be able to query specific model results and monitor runtime and performance. 

Here's a list of reasons why this is a cool thing:
<ol>
<li>squirrels</li>
<li>pies</li>
<li>car tires</li>
<li>pizza</li>
<li>money$$$</li>
</ol>


</div>
{% endblock %}