{% extends 'base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}

<h3>MODEL RUN LAUNCHER</h3>
<p>Pick a model to run from these options:</p>
<hr/>

<table>

{% for tool in tools %}
  <tr>
    <td style="vertical-align:top; padding-top:10px; padding-right:10px;">
        <img width=96 src="{{url_for('static', filename=tool.image)}}"/></td>
    <td style="vertical-align:top;padding-bottom:35px;">
        <h4>{{tool.title}}</h4>
        <p>{{tool.description}}</p>
        <p><a class="btn" href="/{{tool.title}}/">Run {{tool.title}} »</a></p>
    </td>
  </tr>
{% endfor %}

</table>

{% endblock %}
